@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold pt-3 pb-3;
  }
  h2 {
    @apply text-2xl font-bold pt-2 pb-2;
  }
  h3 {
    @apply text-xl font-medium pt-1 pb-1;
  }
}

@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
  }

  .main-container {
    @apply bordered-container mt-20 lg:max-w-screen-lg sm:max-w-[90%];
  }

  .bordered-container {
    @apply mx-auto max-w-screen-lg rounded-xl p-6 flex-auto bg-gray-50 border border-solid border-gray-200;
  }

  button {
    @apply rounded-md text-center disabled:opacity-50 p-3 pt-1 pb-1 h-8;
  }
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-out;
}
